{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="rw">
      <h1>{{ .greeting }}</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>

  <form action="/AuthController/Authenticate/" method="post">
    <div class="form-group">
      <label>Email</label>
      <input class="form-group" type="text" name="email" value=""/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-group" type="text" name="password" value=""/><br/>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>

{{template "footer.html" .}}
